<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse.csenitd">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".home.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".openingActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".profile1"
            android:theme="@style/ProfileTheme" />
        <activity
            android:name=".question.questionsActivity"
            android:label="@string/title_activity_questions"
            android:theme="@style/quesTheme" />
        <activity
            android:name=".question.quesdetail.questiondetailActivity"
            android:label="@string/title_activity_questionsdetail" />
        <activity
            android:name=".ACHIEVEMENTS.Acheivements"
            android:label="Achievements" />
        <activity
            android:name=".Timeline.Add_Timeline"
            android:label="Whats in your mind?" />
        <activity
            android:name=".NoticeBoard.Notices"
            android:label="Notices" />
        <activity
            android:name=".Timeline.TimelineP"
            android:label="TimeLine"
            android:launchMode="singleTask" />
        <activity
            android:name=".home.homeActivity"
            android:theme="@style/homeTheme" />
        <activity
            android:name=".host.hostclass"
            android:label="Available Classes" />
        <activity
            android:name=".Timeline.postDetail"
            android:label="Post Details" />
        <activity
            android:name=".Users.user"
            android:label="Users"
            android:theme="@style/homeTheme" />
        <activity
            android:name=".req_class.requested_classes"
            android:label="Requested Classes" />
    </application>

</manifest>